<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "spree/fancy/logo-white.png", :alt => "Easy Karaoke", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:01923211806">(0)1923 211806</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:info@easykaraoke.com">info@easykaraoke.com</a>
      </div>
      <br>
      <div class="address">
        Easy Karaoke Ltd
        <br>
        FREEPOST, LON20342, London, WD18 9BR
      </div>
    </div>
    
    <div class="four columns">
      <h5>Tracks</h5>
      <ul>
        <li><a href="/products">New Releases</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Special Offers</a></li>      
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Hardware</h5>
      <ul>
        <li><a href="/products">Karaoke Players</a></li>
        <li><a href="/products">Accessories</a></li>
        <li><a href="/products">Support</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Info</h5>
      <ul>
        <li><a href="/products">Terms &amp; Conditions</a></li>
        <li><a href="/products">Returns Policy</a></li>
        <li><a href="/products">Contact Us</a></li>
      </ul>
    </div>
    
  </div>
</footer>
